$amarillo:#FFC600;
$negro:#000000;
$grisSuave:#E8E4E3;
$rojo:#E61717;

@mixin reset(){
    margin: 0;
    padding: 0;
}

@mixin centrado($color:Darklgray) {
    display: flex;
    justify-content:center;
    align-items: center;
    color:$color;
}
@mixin gradiante($colorP: lightblue, $colorS:white){
    background-image: linear-gradient(to bottom right,$colorP,$colorS)
}