$amarillo:#FFC600;
$negro:#000000;
$grisSuave:#E8E4E3;
$rojo:#E61717;

@mixin reset(){
    margin: 0;
   

}

@mixin centrado($color:Darklgray) {
    display: flex;
    justify-content:center;
    align-items: center;
    color:$color;
}
@mixin gradiante($colorP: lightblue, $colorS:white){
    background-image: linear-gradient(to bottom right,$colorP,$colorS)
}
@mixin cardHover {
    border-radius: 10px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
}