/*#FFC600 amarillo
#000000 negro
#E8E4E3 gris suave
#E61717 rojo*/

@import 'variables';
@import './fonts/fonts';



html, body, ul, ol{
  @include reset();
}

.header-nav{
 
    align-items: center;
    @include gradiante();
    @include fonts('Roboto-Italic','../fonts/Roboto-Italic.ttf');

    .logo{
        margin: 1rem 0 0 5rem;
        height: 8vh;
    }
  

}

.card-container{
   @include centrado();
   
}
.card{
    @include centrado($color:#1b1919);
    min-width: 12rem;
    width:10rem;
    height:12rem;
    margin-top: 0.5rem;
   
    
        img{
            margin:10px 0px;
            width: 8rem;
            height: 6rem;
            margin-top: 2rem;
           }
        p{
            margin:0px;
            font-family: 'Roboto', bold;
          
        } 
        button{
            margin-bottom: 2rem;
        }
    }  

.card-producto{
        @include centrado();
        flex-direction: column;
        
            img{
                margin:10px 0px;
                width: 16rem;
                height:15rem;
               }
            p{
                margin:0px;
                text-align: center;
                font-family: 'Roboto', bold;
            } 
            button{
                margin-bottom: 2rem;
                
            }
}  

.container{
    h4{
         @include centrado($color:#666060 ); 
    }
}
main{
    @include gradiante();
    
   // background-color: blue;
    
}
footer{
    @include gradiante();
    .direccion-redes{
        @include centrado();
    }
   
}
.direccion-redes{

        .col{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
       
        h5{
            margin-bottom: 0;
            text-align: center;
            font-family: 'Roboto';
            font-weight: 500;
        }
        p{
            margin-bottom: 0.2rem;
            text-align: center;
            font-family: 'Roboto';
            font-weight: 100;
        }
  
  
}

@media (max-width:428px){
    .link-nav{
        justify-content: center;
        display: flex;
        flex-direction: column;      
    }   
        div{
            .link{
                margin-right: 0px!Important;
                text-align: center!Important;
                
            }
        }
   .header-nav{
    .logo{
        margin-bottom: 0;
        margin:0.8rem 0 0 0.5rem;
    }
   }
    
}