/*#FFC600 amarillo
#000000 negro
#E8E4E3 gris suave
#E61717 rojo*/

@import 'variables';
// @import './fonts/fonts';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;700&display=swap');



*{
 // @include reset();
  font-family: 'Inter', sans-serif;

  
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 254, 254, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.navbar-toggler{
    // border: 2px solid rgb(255, 254, 254,0.5)!important;
}

nav{
    
       
        @include gradiante($rojo,$negro);
  
    .nav-item{
        margin-right:0.5rem;
       
        a{
            width:6rem;
            font-weight: 500;
            color:$grisSuave;
            text-align: center;
            transition: 0.5s;
            
        }
    
    }
    .nav-item {
        a:hover{
            background-color: $amarillo; 
        }
    }   
    .logo{
        margin-left:2rem;
    }
}
.banner{
    height:50vh;

    .banner-wrapper{
        background-color: rgb(158, 158, 158);
        height:50vh;
        @include centrado();
        .banner-texto {
            h3{
                font-weight: 700;
                font-size:2rem;
            }
            p{
                font-weight: 200;
            }
           
        }
    }

}

.carousel-indicators{
 height:2rem; 
}

    .promos{
        margin-top:20px;
    }
   
    


.card-container{
   @include centrado();
   
}
.card{
    @include centrado($color:#1b1919);
    min-width: 12rem;
    width:10rem;
    height:12rem;
    margin-top: 0.5rem;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.20);

   
    
        img{
            margin:10px 0px;
            width: 8rem;
            height: 6rem;
            margin-top: 2rem;
            object-fit: cover;
           }
        p{
            margin:0px;
        
          
        } 
        button{
            margin-bottom: 2rem;
        }
    }  

.card-producto{
        @include centrado();
        box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.20);
        margin-bottom: 20px;
        flex-direction: column;
        transition:0.2s;
        position: relative;
        overflow:hidden;
            img{
                margin:10px 0px;
                width: 16rem;
                height:14rem;
                object-fit:contain;
               }
            p{
                margin:0px;
                text-align: center;
                
            } 
            button{
                margin-bottom: 2rem;
                
            }
}  
.card-producto:hover{
    transform:scale(1.05);
}
.anuncio{
    position: absolute;
    height: 25px;
    width:100%;
    background-color: $negro;
    transform: rotate(-45deg);
    top:2.5rem;
    left:-3.8rem;
    
    @include centrado();
    p{
        
        color:$grisSuave;
        font-size: 12px;
        
    }
}

.container{
    h4{
         @include centrado($color:#666060 ); 
    }
}


.descuento{
    
    img{
        width:4rem;
        height:4rem;
    }
    
}
.descuento:hover{
    @include cardHover();
}
.decuento-oferta-entrega{
    box-shadow: 0px 0px 20px  rgb(0,0,0,0.1) ;
    border-radius: 20px;
    img{
        width:3rem;
        height:3rem;
    }
}
.decuento-oferta-entrega:hover{
   @include cardHover();
}
.entrega{
    img{
        width:4rem;
        height:4rem;
    }
}
.entrega:hover{
    @include cardHover();
}
footer{
    @include gradiante($rojo,$negro);
    .direccion-redes{
        @include centrado();
    }
   
}
.direccion-redes{
        color:$grisSuave;
        .col{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
       
        h5{
            margin-bottom: 0;
            text-align: center;
           
            font-weight: 700;
        }
        p{
            margin-bottom: 0.2rem;
            text-align: center;
            font-weight: 500;
        }
  
  
}

@media (max-width:992px){
    .navbar-nav{
        @include centrado();
    }
    .nav-item{
        a{
            font-size: 1.2rem;
            transition: 1s;
        }
        
       
    }
    .nav-item:hover{
        background-color: $amarillo;
        width:10rem;
       @include centrado();
    }
    .carousel-item{
        h3{
            text-align: center;
        }
        p{
            width:20rem;
            text-align: center;
        }
        
    }
}
@media (max-width:767px){
 
   
}