/*#FFC600 amarillo
#000000 negro
#E8E4E3 gris suave
#E61717 rojo*/

@import 'variables';
// @import './fonts/fonts';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;700&display=swap');



*{
  @include reset();
  font-family: 'Inter', sans-serif;

  
}
nav{
    
       
        @include gradiante($rojo,$negro);
  
    .nav-item{
        margin-right:2rem;
        a{
            font-weight: 500;
            color:$grisSuave;
        }
    
    }
    .nav-item a:hover{
        color:$amarillo;
        border-bottom:2px solid $amarillo;
        padding:2px;
    }
    .logo{
        margin-left:2rem;
    }
}
.banner{
    height:50vh;

    .banner-wrapper{
        background-color: rgb(158, 158, 158);
        height:50vh;
        @include centrado();
        .banner-texto {
            h3{
                font-weight: 700;
                font-size:2rem;
            }
            p{
                font-weight: 200;
            }
           
        }
    }

}



.carousel-indicators{
 height:2rem; 
}


.card-container{
   @include centrado();
   
}
.card{
    @include centrado($color:#1b1919);
    min-width: 12rem;
    width:10rem;
    height:12rem;
    margin-top: 0.5rem;
   
    
        img{
            margin:10px 0px;
            width: 8rem;
            height: 6rem;
            margin-top: 2rem;
           }
        p{
            margin:0px;
        
          
        } 
        button{
            margin-bottom: 2rem;
        }
    }  

.card-producto{
        @include centrado();
        flex-direction: column;
        
            img{
                margin:10px 0px;
                width: 16rem;
                height:15rem;
               }
            p{
                margin:0px;
                text-align: center;
                
            } 
            button{
                margin-bottom: 2rem;
                
            }
}  

.container{
    h4{
         @include centrado($color:#666060 ); 
    }
}
main{
    @include gradiante();
    
   // background-color: blue;
    
}
footer{
    @include gradiante();
    .direccion-redes{
        @include centrado();
    }
   
}
.direccion-redes{

        .col{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
       
        h5{
            margin-bottom: 0;
            text-align: center;
           
            font-weight: 700;
        }
        p{
            margin-bottom: 0.2rem;
            text-align: center;
            font-weight: 500;
        }
  
  
}

@media (max-width:992px){
    
    .nav-item{
        @include centrado();
        a  {
            
            font-weight: 500;
            color:$grisSuave;
            font-size:1.2rem;
            line-height: 2rem;
            display:inline;
        }
        a :hover{
            border-bottom: 2px solid $amarillo;
        }
    
    }
}