/*#FFC600 amarillo
#000000 negro
#E8E4E3 gris suave
#E61717 rojo*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 254, 254, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
  border: 2px solid rgba(255, 254, 254, 0.5) !important;
}

nav {
  background-image: linear-gradient(to bottom right, #E61717, #000000);
}
nav .nav-item {
  margin-right: 0.5rem;
}
nav .nav-item a {
  width: 6rem;
  font-weight: 500;
  color: #E8E4E3;
  text-align: center;
  transition: 0.5s;
}
nav .nav-item a:hover {
  background-color: #FFC600;
}
nav .logo {
  margin-left: 2rem;
}

.banner {
  height: 50vh;
}
.banner .banner-wrapper {
  background-color: rgb(158, 158, 158);
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: Darklgray;
}
.banner .banner-wrapper .banner-texto h3 {
  font-weight: 700;
  font-size: 2rem;
}
.banner .banner-wrapper .banner-texto p {
  font-weight: 200;
}

.carousel-indicators {
  height: 2rem;
}

.promos {
  margin-top: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: Darklgray;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1b1919;
  min-width: 12rem;
  width: 10rem;
  height: 12rem;
  margin-top: 0.5rem;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
.card img {
  margin: 10px 0px;
  width: 8rem;
  height: 6rem;
  margin-top: 2rem;
}
.card p {
  margin: 0px;
}
.card button {
  margin-bottom: 2rem;
}

.card-producto {
  display: flex;
  justify-content: center;
  align-items: center;
  color: Darklgray;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  flex-direction: column;
}
.card-producto img {
  margin: 10px 0px;
  width: 18rem;
  height: 15rem;
}
.card-producto p {
  margin: 0px;
  text-align: center;
}
.card-producto button {
  margin-bottom: 2rem;
}

.container h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666060;
}

.descuento .descuento-img {
  width: 4rem;
  height: 4rem;
}

.descuento:hover {
  border-radius: 10px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.oferta .oferta-img {
  width: 4rem;
  height: 4rem;
}

.oferta:hover {
  border-radius: 10px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.entrega .entrega-img {
  width: 4rem;
  height: 4rem;
}

.entrega:hover {
  border-radius: 10px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

footer {
  background-image: linear-gradient(to bottom right, #E61717, #000000);
}
footer .direccion-redes {
  display: flex;
  justify-content: center;
  align-items: center;
  color: Darklgray;
}

.direccion-redes {
  color: #E8E4E3;
}
.direccion-redes .col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.direccion-redes h5 {
  margin-bottom: 0;
  text-align: center;
  font-weight: 700;
}
.direccion-redes p {
  margin-bottom: 0.2rem;
  text-align: center;
  font-weight: 500;
}

@media (max-width: 992px) {
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: Darklgray;
  }
  .nav-item a {
    font-size: 1.2rem;
    transition: 1s;
  }
  .nav-item:hover {
    background-color: #FFC600;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: Darklgray;
  }
  .carousel-item h3 {
    text-align: center;
  }
  .carousel-item p {
    width: 20rem;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */